<div>
<p>
  {{title}} {{searchKey}}
</p>
<input type="text" [(ngModel)]="searchKey"/>
</div>
<div>
<ul>
  <li *ngFor="let obj of userName">
    {{obj}}
  </li>
</ul>

<input type="button" value="Click Event" (click)="userDataFun()"/>
<table border="1" *ngIf="userData else nodata">
  <tr>
    <th>S. Number</th>
    <th>Name</th>
    <th>Age</th>
    <th>City</th>
  </tr>
  <tr *ngFor="let objuserData of userData ;let i = index">
      <th>{{i+1}}</th>
      <th>{{objuserData.name}}</th>
      <th>{{objuserData.age}}</th>
      <th>{{objuserData.city}}</th>
    </tr>
</table>
<ng-template #nodata>
<P>Data not found!</P>
</ng-template>
</div>


